<mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/admin" routerLinkActive="active">
        <mat-icon>pie_chart</mat-icon>
        <span>Tableaux de bord</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/admin/utilisateurs">
        <mat-icon>manage_accounts</mat-icon>
       <span>Gerer les utilisateurs</span> 
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/admin/taches">
        <mat-icon>checklist</mat-icon>
        <span>Gerer les taches</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/admin/transactions">
        <mat-icon>currency_exchange</mat-icon>
        <span>Gerer les transactions</span>
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>