<mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/admin" routerLinkActive="active">
        <mat-icon>pie_chart</mat-icon>
        <span>Tableaux de bord</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/admin/utilisateurs">
        <mat-icon>manage_accounts</mat-icon>
       <span>Gerer les utilisateurs</span> 
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/admin/assignments">
        <mat-icon>assignment</mat-icon>
        <span>Gerer les assignments</span>
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>