<app-admin-header (toggleNav)="leftSidebar.toggle()"></app-admin-header>
<mat-sidenav-container class="example-container">
  <mat-sidenav #leftSidebar mode="side" opened class="example-sidenav" [fixedInViewport]="options.value.fixed"
    [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
    <app-admin-sidebar></app-admin-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-admin-footer></app-admin-footer>