<h2 class="assignments-title">{{titre}}</h2>

<div class="assignment-card">
<table mat-table [dataSource]="assignments" class="mat-elevation-z8 demo-table">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
  
    <!-- dateDeRendu Column -->
    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDeRendu}} </td>
    </ng-container>
  
    <!-- rendu Column -->
    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Selection de la page des assigments"
                 (page)="handlePage($event)"
                 class="demo-paginator"
                 [length]="totalPages"
                 [pageSize]="limit"
                 [pageIndex]="page"
  >
  </mat-paginator>
</div>