<mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon><span>Accueil</span> 
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/transactions">
        <mat-icon>multiple_stop</mat-icon><span>Mes Transactions</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/mes-taches">
        <mat-icon>assignment</mat-icon><span>Mes Taches</span>
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>
